*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,#C7E0F6,#EEB0BD);    
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}




.row{
    display: flex;
}

.starting{
    display: flex;
    /* transform: rotate(80deg); */
}
.starting img{
    width: 100px;
}



.hero-contient{
    width: 600px;
    height: 500px;
    background-color: black;
}